// Variables


$blackColor: #000000;
$kasaColor: #FF6060;
$galleryColor: #F6F6F6;
$fontText: 'Montserrat';

body {
  margin: 0;
}

.mainContent {
  font-family: $fontText;
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  gap: 50px;
  margin: 45px 100px;
}



main {
  display: flex;
  flex-direction: column;


}

.Logo img {
  width: 35%;
}


@media (max-width: 1200px) {

  .mainContent {
    font-family: $fontText;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 45px 20px;
  }
}

@media (max-width: 1024px) {

  .Logo img {
    width: 28%;
  }

}

@media (max-width: 768px) {
  .mainContent {
    margin: 27px 20px;
    min-height: 33vh;
  }

  .Logo {
    width: 50%;
  }

  .Logo img {
    width: 80%;
    max-width: 300px;
  }
}