$blackColor: #000000;
$kasaColor: #FF6060;
$galleryColor: #F6F6F6;
$fontText: 'Montserrat';



.appartmentPage {
    display: flex;
    flex-direction: column;



    h1 {
        font-family: $fontText;
        color: $kasaColor;
        font-size: 36px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 12px;
    }

    .appartmentInfos {
        display: flex;
        justify-content: space-between;

        .location {
            font-family: $fontText;
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 15px;
        }

        .tags {
            display: flex;
            gap: 10px;
            margin: 20px 0px;

            .tag {
                margin-right: 10px;
                padding: 3px 37px;
                border-radius: 50px;
                background-color: $kasaColor;
                color: #F6F6F6;
                font-size: 14px;
                font-weight: 700;
            }
        }

        .host {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding-top: 25px;

            .hostPhoto {
                border-radius: 90px;
                width: 75px;
                height: 75px;
            }

            .hostName {
                padding-top: 15px;
                color: $kasaColor;
                font-size: 18px;
                width: 100px;
                text-align: right;
            }


        }

        .rate {
            display: flex;
            margin-top: 21px;
            width: 196px;
            gap: 10px;


            .star-icon {
                width: 30px;
                height: 30px;
            }

            .filled {
                color: #ff6060;
            }

            .empty {
                color: #e3e3e3;
            }
        }
    }
}

.appartmentDescription {
    display: flex;
    justify-content: space-between;
    gap: 76px;

    .collapse {
        width: 50%;

        .collapseToggle {
            width: 100%;
        }

        .collapseContent div {
            padding-top: 16px;
            font-size: 18px;
        }

        .equipments {
            margin: 5px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

    }

}


@media (max-width: 1024px) {

    .appartmentPage {

        .appartmentInfos {
            .tags {
                .tag {
                    font-size: 12px;
                    padding: 3px 25px;
                }

            }
        }
    }
}


@media (max-width: 768px) {

    .appartmentPage {

        .appartmentInfos {

            display: flex;
            flex-direction: column;

            h1 {
                font-size: 18px;
            }

            .location {
                font-size: 14px;
                padding: 0;
            }

            .tags {
                display: flex;
                flex-direction: row;
                gap: 5px;
                flex-wrap: wrap;

                .tag {
                    font-size: 10px;
                    padding: 3px 25px;
                }

            }



            .appartmentInfosRight {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                justify-content: space-between;

                .host {
                    .hostName {
                        font-size: 12px;
                        padding-top: 2px;
                        width: 50px;
                    }

                    .hostPhoto {
                        border-radius: 90px;
                        width: 32px;
                        height: 32px;
                    }
                }

                .rate {
                    .star-icon {
                        width: 18px;
                        height: 18px
                    }
                }
            }


        }

        .appartmentDescription {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;


            .collapse {
                padding-top: 0;
                width: 100%;

                .collapseContent div {
                    padding-top: 5px;
                    font-size: 12px;
                }

            }
        }
    }

}