// Variables
$collapse-transition-duration: 0.2s;
$blackColor: #000000;
$kasaColor: #FF6060;
$galleryColor: #F6F6F6;
$fontText: 'Montserrat';


@mixin collapse-transition {
    transition: max-height $collapse-transition-duration ease-in-out,
}

.collapse {

    display: flex;
    flex-direction: column;
    font-family: $fontText;
    align-items: center;



    .collapseContent {
        max-height: 0;
        overflow: hidden;
        width: 85%;
        @include collapse-transition;

    }



    &.is-closed {
        .chevronClic {
            transform: rotate(0deg);
            transition: transform 400ms;
        }

        .collapseContent {
            max-height: 500px;

            p {
                animation-duration: 200ms;
                animation-name: slidein;
            }

            @keyframes slidein {
                from {
                    margin-top: 16px;
                }

                to {
                    margin-top: 0%;
                    width: 100%;
                }
            }
        }

    }


    &.is-open {
        .collapseContent {
            max-height: 500px;

            p {
                animation-duration: 200ms;
                animation-name: slideout;
            }

            @keyframes slideout {
                from {
                    margin-top: 0%;
                    width: 100%;
                }

                to {
                    margin-top: 16px;
                }
            }
        }



        .chevronClic {
            transform: rotate(-180deg);
            transition: transform 400ms;
        }
    }

}


.collapseToggle {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    padding: 8px 15px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    width: 85%;
    height: 54px;
    border: none;
    border-radius: 5px;
    background-color: $kasaColor;
    cursor: pointer;

}