// Variables
$collapse-transition-duration: 0.15s;
$blackColor: #000000;
$kasaColor: #FF6060;
$galleryColor: #F6F6F6;
$fontText: 'Montserrat';


@mixin collapse-transition {
    transition: max-height $collapse-transition-duration ease-in-out,
}

.collapse {

    display: flex;
    flex-direction: column;
    font-family: $fontText;
    align-items: center;



    .collapseContent {
        max-height: 0;
        overflow: hidden;
        width: 85%;
        @include collapse-transition;

        p {
            padding-left: 20px;
            padding-right: 15px;
        }

    }

    .chevronClic {
        width: 32px;
        height: 32px;
    }



    &.is-closed {
        .chevronClic {
            transform: rotate(0deg);
            transition: transform 200ms;
        }

        .collapseContent {
            max-height: 500px;

            p {
                animation-duration: 150ms;
                animation-name: slidein;

            }

            @keyframes slidein {
                from {
                    margin-top: 16px;
                }

                to {
                    margin-top: 0%;
                    width: 100%;
                }
            }
        }

    }


    &.is-open {
        .collapseContent {
            max-height: 500px;

            p {
                animation-duration: 150ms;
                animation-name: slideout;
            }

            @keyframes slideout {
                from {
                    margin-top: 0%;
                    width: 100%;
                }

                to {
                    margin-top: 16px;
                }
            }
        }



        .chevronClic {
            transform: rotate(-180deg);
            transition: transform 400ms;
        }
    }

}


.collapseToggle {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    padding: 8px 15px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    width: 85%;
    height: 54px;
    border: none;
    border-radius: 5px;
    background-color: $kasaColor;
    cursor: pointer;

}


@media (max-width: 768px) {
    .collapse {

        padding-top: 20px;

        .chevronClic {
            width: 16px;
            height: 16px;
        }



        .collapseContent {
            font-size: 12px;


        }

        .collapseToggle {
            margin: 0;
            font-size: 13px;
            height: 30px;

        }


    }


}